/* FOOTER */

.footer {
  background-color: $secondary-bg-color;
}

@media screen and (max-width: 1199px) {
  .footer .section:not(:last-child) {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .section:not(:last-child) {
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer .section {
    padding: 0;
  }
  .footer .container {
    display: flex;
  }
}

/* CONTACTS SECTION */

.contacts-section {
  max-width: 100%;
}

.footer-contacts {
  color: $primary-wh-color;
  @include font(14px, 1.71);
  .address {
    color: $primary-wh-color;
  }
  a {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
@media screen and (max-width: 1199px) {
  .footer-contacts {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-section {
    width: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .footer-contacts a:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}

/* JOIN SECTION */

.join-text {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  @include font(14px, 1.14, 700);
  text-transform: uppercase;

  color: $primary-wh-color;
}

@media screen and (min-width: 1200px) {
  .join-section {
    margin-top: 72px;
    margin-bottom: 100px;
    margin-right: 93px;
  }
  .join-text {
    display: inline-block;
  }
}
/* SUBSCRIBE SECTION */

.subscribe-text {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  @include font(14px, 1.14, 700);
  text-transform: uppercase;

  color: $primary-wh-color;
}

.subscribe-form-input {
  width: 100%;
  margin-right: 8px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;

  color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background-color: transparent;
  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 16px;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-button {
  display: block;
  position: relative;
  width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px 29px;
  text-align: left;
  font-family: inherit;
  @include font(16px, 1.88, 700);
  letter-spacing: 0.06em;

  color: $primary-wh-color;
  background-color: $accent-color;

  border-radius: 4px;
  border-width: 0;
  &-icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    fill: #ffffff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-section {
    padding-left: 166px;
    padding-right: 152px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-section {
    margin-top: 72px;
    margin-bottom: 94px;
  }
  .subscribe-text {
    display: inline-block;
  }
  .subscribe-form-input {
    width: 358px;
  }
  .subscribe-button {
    display: inline;
  }
  .subscribe-form-input {
    margin-bottom: 0px;
  }
}
