.team {
  background-color: #f5f4fa;
  &-member {
    display: block;
    text-align: center;
    padding-bottom: 24px;
    background: $primary-wh-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    img {
      margin-bottom: 30px;
    }
    .name {
      margin-bottom: 10px;
      @include font(16px, 1.19, 500);
    }
    .occupation {
      margin-bottom: 16px;
      @include font(16px, 1.19);
    }
  }
}

@media screen and (max-width: 767px) {
  .team-member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    .container {
      display: block;
    }
    .team-list {
      margin: -15px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-member {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    padding-bottom: 30px;
  }
  .team-member:not(:last-child) {
    margin-right: 30px;
  }
}
