/* Стилизация логотипа*/

.logo {
  font-family: Raleway, sans-serif;
  /*шрифт*/
  font-weight: 700;
  /*насыщенность шрифта*/
  font-size: 26px;
  /*размер шрифта*/
  line-height: 1.19;
  /*междустрочный интервал*/
}

.logo span {
  color: var(--accent-color);
  /*цвет*/
}

.top .logo {
  padding-top: 24px;
  /*отступ от верхнего края*/
  padding-bottom: 25px;
  /*отступ от нижнего края содержимог елемента*/
  margin-right: 93px;
  color: var(--title-text-color);
  padding: 16px 0;
  color: #000000;
}

.bottom .logo {
  margin-bottom: 20px;
  /*отступа от нижнего края */
  color: var(--primary-gov-color);
}

@media screen and (max-width: 767px) {
  .page-header .logo {
    z-index: 1;
    position: relative;
  }
}

@media screen and (max-width: 1199px) {
  .footer .logo {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .top .logo {
    margin-right: 88px;
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .top .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-weight: 700;
    /*насыщенность шрифта*/
    font-size: 26px;
    /*размер шрифта*/
    line-height: 1.19;

  }
}