.logo {
  font-family: $logo-font-family;
  @include font(24px, 1.17, 700);
  span {
    color: $accent-color;
  }
  .page-header & {
    padding: 16px 0;
    color: #000000;
  }

  .footer & {
    margin-bottom: 20px;
    color: $primary-wh-color;
  }
}

@media screen and (max-width: 767px) {
  .page-header .logo {
    z-index: 1;
    position: relative;
  }
}

@media screen and (max-width: 1199px) {
  .footer .logo {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .page-header .logo {
    margin-right: 88px;
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-header .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    @include font(26px, 1.19, 700);
  }
}
