$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-wh-color: #ffffff;
$secondary-bg-color: #2f303a;
$logo-font-family: Raleway, sans-serif;
$main-font-family: Roboto, sans-serif;
