$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-gov-color: #ffffff;
$secondary-sov-color: #2f303a;
$secondary-lav-color: #f5f4fa;
$logo-font-family: Raleway,
sans-serif;
$main-font-family: Roboto,
sans-serif;